page-home {
    ion-grid {
        height: 90%;
        margin-top: 8.5vh;
        
        ion-row {
            height: 35%;
        }
    }
    .button{
        height: 95%;
        font-size: 6vw;
        border-radius: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black
    }
    .background {
        background-color: rgb(230, 224, 224);
    }
    @media (max-width: 1020px){
        #scope{
            font-size: 60px;
        }
    }
    @media (max-width: 768px){
        #scope{
             font-size: 40px;
        }
    }
    #scope {
        font-size: 60px;
        text-align: end;
        color:black;
        width: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        overflow: hidden;
    }
}